@import 'tailwindcss';
@import url('./all.scss');
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'ArTarumianBarakU';
    src: url('/fonts/ArTarumianBarakU-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArTarumianBarakU';
    src: url('/fonts/ArTarumianBarakU-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratArm';
    src: url('/fonts/MontserratArm-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-arumian: 'ArTarumianBarakU', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ArTarumianBarakU', sans-serif;
}